   
   #intro{
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 2rem;
    }
button{
    color: green;
    padding: 15px;
}
}
   .result {
        background-color: lightgray;
        width: 50%;
        padding: 20px;
        padding-bottom: 10px;
        margin: auto;
        text-align: center;
        margin: 100px auto;
        font-size: 3rem;
        
    }

    #intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #thequestions {
        text-align:left;
        display: none;
        padding: 100px;
        padding:auto;
    }
           #thequestions button{
            margin-top: 30px;
            padding: 10px;
           }